<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBc3n143qqKUeL64BFzWW5sV-wOTF5Mvpk</string>
	<key>GCM_SENDER_ID</key>
	<string>799749961987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kutuphaneUygulamaFo</string>
	<key>PROJECT_ID</key>
	<string>kutuphaneuygulamafo</string>
	<key>STORAGE_BUCKET</key>
	<string>kutuphaneuygulamafo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799749961987:ios:933040a6b6d18d6b979136</string>
</dict>
</plist>